<a href="https://colab.research.google.com/github/Piramu-Mahalingam/DS-Course-Assignment-1/blob/main/Assignment2_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.	Import the attached Netflix csv file in Jupyter notebook and perform following operations using Pandas:**

In [4]:
#a)	Print the first 5 rows and last 5 rows of the dataframe
import pandas as pd
fp1=pd.read_csv("Netflix.csv")
fp1.head()
fp1.tail()
pd.concat([fp1.head(),fp1.tail()])

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries"
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act..."
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV"
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ..."
8775,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers"
8776,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies"
8777,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies"
8778,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies"
8779,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals"

In [7]:
#b)	Check how many rows and columns are there using Pandas function.
nrows,ncols=fp1.shape
print(nrows,ncols)
print(f"Number of Rows:{nrows}")
print(f"Number of Columns:{ncols}")

8780 11
Number of Rows:8780
Number of Columns:11

In [10]:
#c)	Print all the column names
fp1.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in'],
      dtype='object')

In [16]:
#d)	Calculate the descriptive statistics of all the variables(integer/float/object etc).
des_status=fp1.describe(include="all")
print(des_status)

       show_id   type                 title       director  \
count     8780   8780                  8780           6150
unique    8780      2                  8780           4516
top         s1  Movie  Dick Johnson Is Dead  Rajiv Chilaka
freq         1   6110                     1             19
mean       NaN    NaN                   NaN            NaN
std        NaN    NaN                   NaN            NaN
min        NaN    NaN                   NaN            NaN
25%        NaN    NaN                   NaN            NaN
50%        NaN    NaN                   NaN            NaN
75%        NaN    NaN                   NaN            NaN
max        NaN    NaN                   NaN            NaN

                      cast        country       date_added  release_year  \
count                 7956           7952             8770   8780.000000
unique                7671            745             1765           NaN
top     David Attenborough  United States  January 1, 2020           NaN
freq                    19           2809              108           NaN
mean                   NaN            NaN              NaN   2014.178474
std                    NaN            NaN              NaN      8.827938
min                    NaN            NaN              NaN   1925.000000
25%                    NaN            NaN              NaN   2013.000000
50%                    NaN            NaN              NaN   2017.000000
75%                    NaN            NaN              NaN   2019.000000
max                    NaN            NaN              NaN   2021.000000

       rating  duration                     listed_in
count    8776      8780                          8780
unique     14       220                           514
top     TV-MA  1 Season  Dramas, International Movies
freq     3198      1788                           361
mean      NaN       NaN                           NaN
std       NaN       NaN                           NaN
min       NaN       NaN                           NaN
25%       NaN       NaN                           NaN
50%       NaN       NaN                           NaN
75%       NaN       NaN                           NaN
max       NaN       NaN                           NaN

In [15]:
des_status2=fp1.describe(include="number")
print(des_status2)

       release_year
count   8780.000000
mean    2014.178474
std        8.827938
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [14]:
des_status1=fp1.describe(include="object")
print(des_status1)

       show_id   type                 title       director  \
count     8780   8780                  8780           6150
unique    8780      2                  8780           4516
top         s1  Movie  Dick Johnson Is Dead  Rajiv Chilaka
freq         1   6110                     1             19

                      cast        country       date_added rating  duration  \
count                 7956           7952             8770   8776      8780
unique                7671            745             1765     14       220
top     David Attenborough  United States  January 1, 2020  TV-MA  1 Season
freq                    19           2809              108   3198      1788

                           listed_in
count                           8780
unique                           514
top     Dramas, International Movies
freq                             361

In [23]:
#Check the number of unique values for each column
unique_counts=fp1.nunique()
print(unique_counts)

show_id         8780
type               2
title           8780
director        4516
cast            7671
country          745
date_added      1765
release_year      74
rating            14
duration         220
listed_in        514
dtype: int64

In [24]:
#f)	Check the percentage of missing values for each column.
missing_percentage = fp1.isna().mean() * 100
print(missing_percentage)

show_id          0.000000
type             0.000000
title            0.000000
director        29.954442
cast             9.384966
country          9.430524
date_added       0.113895
release_year     0.000000
rating           0.045558
duration         0.000000
listed_in        0.000000
dtype: float64

In [26]:
#g)	Delete all the rows where Director column has missing values.
fp1_cleaned = fp1.dropna(subset=['director'])
# Print the cleaned DataFrame
print(fp1_cleaned)

     show_id     type                             title  \
0         s1    Movie              Dick Johnson Is Dead
2         s3  TV Show                         Ganglands
5         s6  TV Show                     Midnight Mass
6         s7    Movie  My Little Pony: A New Generation
7         s8    Movie                           Sankofa
...      ...      ...                               ...
8774   s8802    Movie                           Zinzana
8775   s8803    Movie                            Zodiac
8777   s8805    Movie                        Zombieland
8778   s8806    Movie                              Zoom
8779   s8807    Movie                            Zubaan

                           director  \
0                   Kirsten Johnson
2                   Julien Leclercq
5                     Mike Flanagan
6     Robert Cullen, José Luis Ucha
7                      Haile Gerima
...                             ...
8774                Majid Al Ansari
8775                  David Fincher
8777                Ruben Fleischer
8778                   Peter Hewitt
8779                    Mozez Singh

                                                   cast  \
0                                                   NaN
2     Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
5     Kate Siegel, Zach Gilford, Hamish Linklater, H...
6     Vanessa Hudgens, Kimiko Glenn, James Marsden, ...
7     Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...
...                                                 ...
8774  Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...
8775  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...
8777  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...
8778  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...
8779  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...

                                                country          date_added  \
0                                         United States  September 25, 2021
2                                                   NaN  September 24, 2021
5                                                   NaN  September 24, 2021
6                                                   NaN  September 24, 2021
7     United States, Ghana, Burkina Faso, United Kin...  September 24, 2021
...                                                 ...                 ...
8774                       United Arab Emirates, Jordan       March 9, 2016
8775                                      United States   November 20, 2019
8777                                      United States    November 1, 2019
8778                                      United States    January 11, 2020
8779                                              India       March 2, 2019

      release_year rating  duration  \
0             2020  PG-13    90 min
2             2021  TV-MA  1 Season
5             2021  TV-MA  1 Season
6             2021     PG    91 min
7             1993  TV-MA   125 min
...            ...    ...       ...
8774          2015  TV-MA    96 min
8775          2007      R   158 min
8777          2009      R    88 min
8778          2006     PG    88 min
8779          2015  TV-14   111 min

                                              listed_in
0                                         Documentaries
2     Crime TV Shows, International TV Shows, TV Act...
5                    TV Dramas, TV Horror, TV Mysteries
6                              Children & Family Movies
7      Dramas, Independent Movies, International Movies
...                                                 ...
8774            Dramas, International Movies, Thrillers
8775                     Cult Movies, Dramas, Thrillers
8777                            Comedies, Horror Movies
8778                 Children & Family Movies, Comedies
8779     Dramas, International Movies, Music & Musicals

[6150 rows x 11 columns]

In [28]:
#h)	Print all the records where country has Germany value (including West Germany). If any other country is there along with Germany, then that row should also come in output.
filtered_df = fp1[fp1['country'].str.contains('Germany|West Germany', case=False, na=False)]
print(filtered_df)

     show_id   type                                title  \
7         s8  Movie                              Sankofa
12       s13  Movie                         Je Suis Karl
129     s130  Movie                   An Unfinished Life
142     s143  Movie                      Freedom Writers
172     s173  Movie                       School of Rock
...      ...    ...                                  ...
8590   s8618  Movie                                Trash
8634   s8662  Movie                      Unfinished Song
8641   s8669  Movie                       V for Vendetta
8702   s8730  Movie                   Where the Money Is
8718   s8746  Movie  Willy Wonka & the Chocolate Factory

                  director                                               cast  \
7             Haile Gerima  Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...
12     Christian Schwochow  Luna Wedler, Jannis Niewöhner, Milan Peschel, ...
129        Lasse Hallström  Robert Redford, Jennifer Lopez, Morgan Freeman...
142    Richard LaGravenese  Hilary Swank, Patrick Dempsey, Scott Glenn, Im...
172      Richard Linklater  Jack Black, Joan Cusack, Mike White, Sarah Sil...
...                    ...                                                ...
8590        Stephen Daldry  Wagner Moura, Martin Sheen, Rooney Mara, Selto...
8634  Paul Andrew Williams  Terence Stamp, Gemma Arterton, Christopher Ecc...
8641        James McTeigue  Natalie Portman, Hugo Weaving, Stephen Rea, St...
8702       Marek Kanievska  Paul Newman, Linda Fiorentino, Dermot Mulroney...
8718            Mel Stuart  Gene Wilder, Jack Albertson, Peter Ostrum, Roy...

                                                country          date_added  \
7     United States, Ghana, Burkina Faso, United Kin...  September 24, 2021
12                              Germany, Czech Republic  September 23, 2021
129                              Germany, United States   September 1, 2021
142                              Germany, United States   September 1, 2021
172                              United States, Germany   September 1, 2021
...                                                 ...                 ...
8590                    United Kingdom, Brazil, Germany     January 1, 2019
8634                            United Kingdom, Germany       July 22, 2019
8641             United States, United Kingdom, Germany     October 1, 2018
8702     Germany, United States, United Kingdom, Canada    January 15, 2020
8718          United States, East Germany, West Germany     January 1, 2020

      release_year rating duration  \
7             1993  TV-MA  125 min
12            2021  TV-MA  127 min
129           2005  PG-13  108 min
142           2007  PG-13  124 min
172           2003  PG-13  110 min
...            ...    ...      ...
8590          2014      R  114 min
8634          2012  PG-13   94 min
8641          2005      R  132 min
8702          2000  PG-13   89 min
8718          1971      G  100 min

                                              listed_in
7      Dramas, Independent Movies, International Movies
12                         Dramas, International Movies
129                                              Dramas
142                                              Dramas
172                          Comedies, Music & Musicals
...                                                 ...
8590              Dramas, Independent Movies, Thrillers
8634               Comedies, Dramas, Independent Movies
8641       Action & Adventure, Dramas, Sci-Fi & Fantasy
8702               Action & Adventure, Comedies, Dramas
8718  Children & Family Movies, Classic Movies, Come...

[231 rows x 11 columns]

In [30]:
#i)	Expand Duration column into 2 separate columns – First column having the numeric value and other having String.
#Eg: 3 seasons should be split in 2 columns having 3 in 1st column and seasons in 2nd column.
fp1[['duration_Numeric', 'duration_Unit']] = fp1['duration'].str.extract(r'(\d+)\s*(\w+)')
print(fp1)

     show_id     type                  title         director  \
0         s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1         s2  TV Show          Blood & Water              NaN
2         s3  TV Show              Ganglands  Julien Leclercq
3         s4  TV Show  Jailbirds New Orleans              NaN
4         s5  TV Show           Kota Factory              NaN
...      ...      ...                    ...              ...
8775   s8803    Movie                 Zodiac    David Fincher
8776   s8804  TV Show            Zombie Dumb              NaN
8777   s8805    Movie             Zombieland  Ruben Fleischer
8778   s8806    Movie                   Zoom     Peter Hewitt
8779   s8807    Movie                 Zubaan      Mozez Singh

                                                   cast        country  \
0                                                   NaN  United States
1     Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2     Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                   NaN            NaN
4     Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India
...                                                 ...            ...
8775  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...  United States
8776                                                NaN            NaN
8777  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States
8778  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States
8779  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India

              date_added  release_year rating   duration  \
0     September 25, 2021          2020  PG-13     90 min
1     September 24, 2021          2021  TV-MA  2 Seasons
2     September 24, 2021          2021  TV-MA   1 Season
3     September 24, 2021          2021  TV-MA   1 Season
4     September 24, 2021          2021  TV-MA  2 Seasons
...                  ...           ...    ...        ...
8775   November 20, 2019          2007      R    158 min
8776        July 1, 2019          2018  TV-Y7  2 Seasons
8777    November 1, 2019          2009      R     88 min
8778    January 11, 2020          2006     PG     88 min
8779       March 2, 2019          2015  TV-14    111 min

                                              listed_in duration_Numeric  \
0                                         Documentaries               90
1       International TV Shows, TV Dramas, TV Mysteries                2
2     Crime TV Shows, International TV Shows, TV Act...                1
3                                Docuseries, Reality TV                1
4     International TV Shows, Romantic TV Shows, TV ...                2
...                                                 ...              ...
8775                     Cult Movies, Dramas, Thrillers              158
8776             Kids' TV, Korean TV Shows, TV Comedies                2
8777                            Comedies, Horror Movies               88
8778                 Children & Family Movies, Comedies               88
8779     Dramas, International Movies, Music & Musicals              111

     duration_Unit
0              min
1          Seasons
2           Season
3           Season
4          Seasons
...            ...
8775           min
8776       Seasons
8777           min
8778           min
8779           min

[8780 rows x 13 columns]

In [43]:
#j)	Split Date added into 3 separate columns having date value in 1st column, month value in 2nd column and year value in 3rd.
if 'date_added' in fp1.columns:
    fp1[['Date', 'Month', 'Year']] = fp1['date_added'].str.split('/', expand=True)
else:
    print("Column 'date_added' not found in the DataFrame. Check previous operations.")
print(fp1)

Column 'date_added' not found in the DataFrame. Check previous operations.
     show_id     type                  title         director  \
0         s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1         s2  TV Show          Blood & Water              NaN
2         s3  TV Show              Ganglands  Julien Leclercq
3         s4  TV Show  Jailbirds New Orleans              NaN
4         s5  TV Show           Kota Factory              NaN
...      ...      ...                    ...              ...
8775   s8803    Movie                 Zodiac    David Fincher
8776   s8804  TV Show            Zombie Dumb              NaN
8777   s8805    Movie             Zombieland  Ruben Fleischer
8778   s8806    Movie                   Zoom     Peter Hewitt
8779   s8807    Movie                 Zubaan      Mozez Singh

                                                   cast        country  \
0                                                   NaN  United States
1     Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2     Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                   NaN            NaN
4     Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India
...                                                 ...            ...
8775  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...  United States
8776                                                NaN            NaN
8777  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States
8778  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States
8779  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India

      release_year rating   duration  \
0             2020  PG-13     90 min
1             2021  TV-MA  2 Seasons
2             2021  TV-MA   1 Season
3             2021  TV-MA   1 Season
4             2021  TV-MA  2 Seasons
...            ...    ...        ...
8775          2007      R    158 min
8776          2018  TV-Y7  2 Seasons
8777          2009      R     88 min
8778          2006     PG     88 min
8779          2015  TV-14    111 min

                                              listed_in duration_Numeric  \
0                                         Documentaries               90
1       International TV Shows, TV Dramas, TV Mysteries                2
2     Crime TV Shows, International TV Shows, TV Act...                1
3                                Docuseries, Reality TV                1
4     International TV Shows, Romantic TV Shows, TV ...                2
...                                                 ...              ...
8775                     Cult Movies, Dramas, Thrillers              158
8776             Kids' TV, Korean TV Shows, TV Comedies                2
8777                            Comedies, Horror Movies               88
8778                 Children & Family Movies, Comedies               88
8779     Dramas, International Movies, Music & Musicals              111

     duration_Unit  Date  Month    Year
0              min  25.0    9.0  2021.0
1          Seasons  24.0    9.0  2021.0
2           Season  24.0    9.0  2021.0
3           Season  24.0    9.0  2021.0
4          Seasons  24.0    9.0  2021.0
...            ...   ...    ...     ...
8775           min  20.0   11.0  2019.0
8776       Seasons   1.0    7.0  2019.0
8777           min   1.0   11.0  2019.0
8778           min  11.0    1.0  2020.0
8779           min   2.0    3.0  2019.0

[8780 rows x 15 columns]

In [44]:
#k)	Print the number of TV shows/Movies released in each year.
release_counts = fp1.groupby(['release_year', 'type']).size().unstack(fill_value=0)

# Print the result
print(release_counts)

type          Movie  TV Show
release_year
1925              0        1
1942              2        0
1943              3        0
1944              3        0
1945              3        1
...             ...      ...
2017            765      265
2018            764      377
2019            628      396
2020            517      435
2021            277      315

[74 rows x 2 columns]

In [45]:
#l)	Rename the column title with movie_title
fp1.rename(columns={'title': 'movie_title'}, inplace=True)
print(fp1.head())

  show_id     type            movie_title         director  \
0      s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1      s2  TV Show          Blood & Water              NaN
2      s3  TV Show              Ganglands  Julien Leclercq
3      s4  TV Show  Jailbirds New Orleans              NaN
4      s5  TV Show           Kota Factory              NaN

                                                cast        country  \
0                                                NaN  United States
1  Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2  Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                NaN            NaN
4  Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India

   release_year rating   duration  \
0          2020  PG-13     90 min
1          2021  TV-MA  2 Seasons
2          2021  TV-MA   1 Season
3          2021  TV-MA   1 Season
4          2021  TV-MA  2 Seasons

                                           listed_in duration_Numeric  \
0                                      Documentaries               90
1    International TV Shows, TV Dramas, TV Mysteries                2
2  Crime TV Shows, International TV Shows, TV Act...                1
3                             Docuseries, Reality TV                1
4  International TV Shows, Romantic TV Shows, TV ...                2

  duration_Unit  Date  Month    Year
0           min  25.0    9.0  2021.0
1       Seasons  24.0    9.0  2021.0
2        Season  24.0    9.0  2021.0
3        Season  24.0    9.0  2021.0
4       Seasons  24.0    9.0  2021.0

In [46]:
#m)	Split Listed_in column into 3 different columns with col name (Genre1, Genre2, Genre3). Split the column based on comma.
fp1[['Genre1', 'Genre2', 'Genre3']] = fp1['listed_in'].str.split(',', expand=True)
print(fp1)

     show_id     type            movie_title         director  \
0         s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1         s2  TV Show          Blood & Water              NaN
2         s3  TV Show              Ganglands  Julien Leclercq
3         s4  TV Show  Jailbirds New Orleans              NaN
4         s5  TV Show           Kota Factory              NaN
...      ...      ...                    ...              ...
8775   s8803    Movie                 Zodiac    David Fincher
8776   s8804  TV Show            Zombie Dumb              NaN
8777   s8805    Movie             Zombieland  Ruben Fleischer
8778   s8806    Movie                   Zoom     Peter Hewitt
8779   s8807    Movie                 Zubaan      Mozez Singh

                                                   cast        country  \
0                                                   NaN  United States
1     Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2     Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                   NaN            NaN
4     Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India
...                                                 ...            ...
8775  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...  United States
8776                                                NaN            NaN
8777  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States
8778  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States
8779  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India

      release_year rating   duration  \
0             2020  PG-13     90 min
1             2021  TV-MA  2 Seasons
2             2021  TV-MA   1 Season
3             2021  TV-MA   1 Season
4             2021  TV-MA  2 Seasons
...            ...    ...        ...
8775          2007      R    158 min
8776          2018  TV-Y7  2 Seasons
8777          2009      R     88 min
8778          2006     PG     88 min
8779          2015  TV-14    111 min

                                              listed_in duration_Numeric  \
0                                         Documentaries               90
1       International TV Shows, TV Dramas, TV Mysteries                2
2     Crime TV Shows, International TV Shows, TV Act...                1
3                                Docuseries, Reality TV                1
4     International TV Shows, Romantic TV Shows, TV ...                2
...                                                 ...              ...
8775                     Cult Movies, Dramas, Thrillers              158
8776             Kids' TV, Korean TV Shows, TV Comedies                2
8777                            Comedies, Horror Movies               88
8778                 Children & Family Movies, Comedies               88
8779     Dramas, International Movies, Music & Musicals              111

     duration_Unit  Date  Month    Year                    Genre1  \
0              min  25.0    9.0  2021.0             Documentaries
1          Seasons  24.0    9.0  2021.0    International TV Shows
2           Season  24.0    9.0  2021.0            Crime TV Shows
3           Season  24.0    9.0  2021.0                Docuseries
4          Seasons  24.0    9.0  2021.0    International TV Shows
...            ...   ...    ...     ...                       ...
8775           min  20.0   11.0  2019.0               Cult Movies
8776       Seasons   1.0    7.0  2019.0                  Kids' TV
8777           min   1.0   11.0  2019.0                  Comedies
8778           min  11.0    1.0  2020.0  Children & Family Movies
8779           min   2.0    3.0  2019.0                    Dramas

                       Genre2                  Genre3
0                        None                    None
1                   TV Dramas            TV Mysteries
2      International TV Shows   TV Action & Adventure
3                  Reality TV                    None
4           Romantic TV Shows             TV Comedies
...                       ...                     ...
8775                   Dramas               Thrillers
8776          Korean TV Shows             TV Comedies
8777            Horror Movies                    None
8778                 Comedies                    None
8779     International Movies        Music & Musicals

[8780 rows x 18 columns]

**2.**	**Import both the attached files (student.csv and marks.csv) in Jupyter notebook and perform following operations:**

In [75]:
#a)	Combine both the dataframes into single dataframe which will have all the records from both the tables.
import pandas as pd
df1=pd.read_csv("Students.csv")
df2=pd.read_csv("marks.csv")
#combined_df = pd.concat([df1, df2], ignore_index=True)
combined_df = pd.concat([df1, df2])
print(combined_df)

     Student_id   Age  Gender      Grade Employed  Mark     City
0             1  19.0    Male  1st Class      yes   NaN      NaN
1             2  20.0  Female  2nd Class       no   NaN      NaN
2             3  18.0    Male  1st Class       no   NaN      NaN
3             4  21.0  Female  2nd Class       no   NaN      NaN
4             5  19.0    Male  1st Class       no   NaN      NaN
..          ...   ...     ...        ...      ...   ...      ...
224         228   NaN     NaN        NaN      NaN  99.0     Pune
225         229   NaN     NaN        NaN      NaN  70.0  Chennai
226         230   NaN     NaN        NaN      NaN  55.0    Delhi
227         231   NaN     NaN        NaN      NaN  97.0   Mumbai
228         232   NaN     NaN        NaN      NaN  59.0     Pune

[461 rows x 7 columns]

In [73]:
#b)	Print the maximum and minimum marks Gender wise.
#combined_df = combined_df.dropna(subset=['Mark'])
#print(combined_df)
gender_wise_marks = combined_df.groupby('Gender')['Mark'].agg(['max', 'min'])
print(gender_wise_marks)

Empty DataFrame
Columns: [max, min]
Index: []

In [68]:
#c)	Print all the students IDs and their marks who have scored more than the average marks of the class.
average_marks = combined_df['Mark'].mean()

# Filter students who scored more than the average marks
above_average_students = combined_df[combined_df['Mark'] > average_marks]

# Print Student_ID and Marks for these students
print(above_average_students[['Student_id', 'Mark']])

     Student_id  Mark
0             1  95.0
2             3  98.0
3             4  75.0
4             5  89.0
9            12  90.0
..          ...   ...
218         222  74.0
219         223  79.0
221         225  72.0
224         228  99.0
227         231  97.0

[137 rows x 2 columns]

In [69]:
#d)	Print the dataframe who are Males and are Employed.
filtered_df = combined_df[(combined_df['Gender'] == 'Male') & (combined_df['Employed'] == 'Employed')]

# Print the filtered DataFrame
print(filtered_df)

Empty DataFrame
Columns: [Student_id, Age, Gender, Grade, Employed, Mark, City]
Index: []

In [70]:
#e)	Create a new Column ‘IQ_level’ which will have 3 values (Intelligent, Mediocre, weak). If student scored than 80 then Tag him as Intelligent,
#if student scored between 50-80, then Mediocre, else weak.
bins = [0, 50, 80, float('inf')]
labels = ['Weak', 'Mediocre', 'Intelligent']

# Create the new column 'IQ_level' based on the marks
combined_df['IQ_level'] = pd.cut(combined_df['Mark'], bins=bins, labels=labels, right=False)

# Print the updated DataFrame
print(combined_df)

     Student_id  Age Gender Grade Employed  Mark     City     IQ_level
0             1  NaN    NaN   NaN      NaN  95.0  Chennai  Intelligent
1             2  NaN    NaN   NaN      NaN  70.0    Delhi     Mediocre
2             3  NaN    NaN   NaN      NaN  98.0   Mumbai  Intelligent
3             4  NaN    NaN   NaN      NaN  75.0     Pune     Mediocre
4             5  NaN    NaN   NaN      NaN  89.0    Kochi  Intelligent
..          ...  ...    ...   ...      ...   ...      ...          ...
224         228  NaN    NaN   NaN      NaN  99.0     Pune  Intelligent
225         229  NaN    NaN   NaN      NaN  70.0  Chennai     Mediocre
226         230  NaN    NaN   NaN      NaN  55.0    Delhi     Mediocre
227         231  NaN    NaN   NaN      NaN  97.0   Mumbai  Intelligent
228         232  NaN    NaN   NaN      NaN  59.0     Pune     Mediocre

[229 rows x 8 columns]

In [71]:
#f)	Count the number of males and females from each city.
gender_city_counts = combined_df.groupby(['City', 'Gender']).size().unstack(fill_value=0)

# Print the result
print(gender_city_counts)

Empty DataFrame
Columns: []
Index: []

In [76]:
#g)	Print the top 5 Male scorers.
male_students = combined_df[combined_df['Gender'] == 'Male']

# Sort by 'Marks' in descending order
top_male_scorers = male_students.sort_values(by='Mark', ascending=False).head(5)

# Print the top 5 male scorers
print(top_male_scorers)

   Student_id   Age Gender      Grade Employed  Mark City
0           1  19.0   Male  1st Class      yes   NaN  NaN
2           3  18.0   Male  1st Class       no   NaN  NaN
4           5  19.0   Male  1st Class       no   NaN  NaN
5           6  20.0   Male  2nd Class      yes   NaN  NaN
7           8  21.0   Male  3rd Class      yes   NaN  NaN

In [77]:
#h)	Replace the Male value with M and Female value with F and export this dataframe to excel file in D: (D drive) and name the file as test.csv.

# Replace 'Male' with 'M' and 'Female' with 'F'
combined_df['Gender'] = combined_df['Gender'].replace({'Male': 'M', 'Female': 'F'})

# Specify the path where you want to save the file
output_path = r'D:\test.csv'

# Export the DataFrame to a CSV file
combined_df.to_csv(output_path, index=False)

print(f"File has been saved to {output_path}")

File has been saved to D:\test.csv

In [79]:
#i)	Check if any student_ID is duplicated.
duplicates = combined_df[combined_df.duplicated('Student_id')]

if not duplicates.empty:
    print("Duplicated student_IDs found:")
    print(duplicates)
else:
    print("No duplicated student_IDs found.")

Duplicated student_IDs found:
     Student_id  Age Gender Grade Employed  Mark     City
0             1  NaN    NaN   NaN      NaN  95.0  Chennai
1             2  NaN    NaN   NaN      NaN  70.0    Delhi
2             3  NaN    NaN   NaN      NaN  98.0   Mumbai
3             4  NaN    NaN   NaN      NaN  75.0     Pune
4             5  NaN    NaN   NaN      NaN  89.0    Kochi
..          ...  ...    ...   ...      ...   ...      ...
224         228  NaN    NaN   NaN      NaN  99.0     Pune
225         229  NaN    NaN   NaN      NaN  70.0  Chennai
226         230  NaN    NaN   NaN      NaN  55.0    Delhi
227         231  NaN    NaN   NaN      NaN  97.0   Mumbai
228         232  NaN    NaN   NaN      NaN  59.0     Pune

[229 rows x 7 columns]

In [80]:
#j)	Create a separate dataframe which will have all the Integer/Float variables.
numeric_df = combined_df.select_dtypes(include=['int64', 'float64'])

print("DataFrame with only Integer/Float variables:")
print(numeric_df)

DataFrame with only Integer/Float variables:
     Student_id   Age  Mark
0             1  19.0   NaN
1             2  20.0   NaN
2             3  18.0   NaN
3             4  21.0   NaN
4             5  19.0   NaN
..          ...   ...   ...
224         228   NaN  99.0
225         229   NaN  70.0
226         230   NaN  55.0
227         231   NaN  97.0
228         232   NaN  59.0

[461 rows x 3 columns]

In [83]:
#k)	Get those Student_IDs which are present in Students table but not in Marks table.
missing_marks = df1[~df1['Student_id'].isin(df2['Student_id'])]  # Changed 'Students' to 'df1' and 'marks' to 'df2'
print("student_IDs present in Students table but not in Marks table:")
print(missing_marks)

student_IDs present in Students table but not in Marks table:
    Student_id  Age  Gender      Grade Employed
8            9   22  Female  3rd Class      yes
9           10   21    Male  1st Class       no
48          49   19    Male  2nd Class       no

**3.	Explain the concept of missing values. How can you identify the missing values in a Pandas DataFrame ?**

Missing values refer to the absence of data in a dataset. They can occur due to various reasons, such as:

Data entry errors

Incomplete data collection

Corruption of data

Irrelevant or non-applicable fields

In datasets, missing values are often represented as:

NaN (Not a Number) in numerical columns

None in object (string) columns

Blank spaces or placeholders like NA, NULL, or ?

Handling missing values is crucial because they can lead to incorrect analysis, biased results, or errors during data processing.

Identifying Missing Values in a Pandas DataFrame
Pandas provides several methods to identify missing values in a DataFrame. Here are the most common ones:

1. isna() or isnull()
These methods return a DataFrame of the same shape as the original, with True for missing values and False for non-missing values.
2. notna() or notnull()
These methods are the opposite of isna() and return True for non-missing values and False for missing values.

 **4.What are the different ways of treating/Imputing/Deleting the missing values.
Explain with example. **bold text**

Handling missing values is a critical step in data preprocessing. Depending on the nature of the data and the analysis, you can choose to treat, impute, or delete missing values. Below are the **common** approaches with examples:

1. Deleting Missing Values
If the missing values are minimal or not significant, you can remove them entirely.

a) Drop Rows with Missing Values
python
Copy
import pandas as pd
import numpy as np

# Sample DataFrame
data = {
    'A': [1, 2, np.nan, 4],
    'B': [5, np.nan, np.nan, 8],
    'C': ['foo', 'bar', None, 'baz']
}
df = pd.DataFrame(data)

# Drop rows with any missing values
df_dropped = df.dropna()
print(df_dropped)
Output:

plaintext
Copy
   A    B    C
0  1.0  5.0  foo
3  4.0  8.0  baz
b) Drop Columns with Missing Values
python
Copy
# Drop columns with any missing values
df_dropped_cols = df.dropna(axis=1)
print(df_dropped_cols)
Output:

plaintext
Copy
Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]
c) Drop Rows/Columns with a Threshold
Drop rows/columns where the number of missing values exceeds a threshold.

Use machine learning models or statistical methods to predict missing values.

a) K-Nearest Neighbors (KNN) Imputation