<a href="https://colab.research.google.com/github/Piramu-Mahalingam/DS-Course-Assignment-1/blob/main/Piramu_M_Mini_Project_Python_Libraries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1.Load the student marks and attendance data from the provided Excel
#files into two separate Pandas DataFrames.
import os
print(os.getcwd())

/content

# New Section

In [4]:
import pandas as pd
smarks = pd.read_excel("./Marks.xlsx")
satt=pd.read_excel("./Attendance.xlsx")
print(smarks)
print(satt)

                  Name Mini Test 1 Mini Test 2 Live Test  Assignment
0                Arjun           9           5        14        16.0
1         Sophia Hardy           8           9       113        19.0
2                  RAj          10          10        15        20.0
3                Emily           9           7        11        16.0
4         Ishaan Saini           8           7        14        11.0
..                 ...         ...         ...       ...         ...
105            Makayla           2           7        13         3.0
106      Ishaan Kapoor           9           6        13        20.0
107            Addison           8           8        12        12.0
108  Aditya Srivastava           5           5         8        17.0
109             Peyton           9           9        12        10.0

[110 rows x 5 columns]
                  Name Attendance Day 1 Attendance Day 2 Attendance Day 3  \
0                Arjun                Y                N                N
1         Sophia Hardy                Y                N                N
2                  RAj                Y                Y                Y
3                Emily                Y                Y                N
4         Ishaan Saini                N                N                N
..                 ...              ...              ...              ...
105            Makayla                Y                Y                Y
106      Ishaan Kapoor                Y                N                N
107            Addison                Y                Y                Y
108  Aditya Srivastava                N                N                N
109             Peyton                Y                Y                N

    Attendance Day 4 Attendance Day 5
0                  N                Y
1                  Y                Y
2                  Y                Y
3                  Y                Y
4                  N                Y
..               ...              ...
105                Y                Y
106                Y                Y
107                Y                Y
108                Y                Y
109                Y                Y

[110 rows x 6 columns]

# New Section

In [5]:
mergedf=pd.merge(smarks,satt,on="Name",how="inner")
print(mergedf)

                  Name Mini Test 1 Mini Test 2 Live Test  Assignment  \
0                Arjun           9           5        14        16.0
1         Sophia Hardy           8           9       113        19.0
2                  RAj          10          10        15        20.0
3                Emily           9           7        11        16.0
4         Ishaan Saini           8           7        14        11.0
..                 ...         ...         ...       ...         ...
105            Makayla           2           7        13         3.0
106      Ishaan Kapoor           9           6        13        20.0
107            Addison           8           8        12        12.0
108  Aditya Srivastava           5           5         8        17.0
109             Peyton           9           9        12        10.0

    Attendance Day 1 Attendance Day 2 Attendance Day 3 Attendance Day 4  \
0                  Y                N                N                N
1                  Y                N                N                Y
2                  Y                Y                Y                Y
3                  Y                Y                N                Y
4                  N                N                N                N
..               ...              ...              ...              ...
105                Y                Y                Y                Y
106                Y                N                N                Y
107                Y                Y                Y                Y
108                N                N                N                Y
109                Y                Y                N                Y

    Attendance Day 5
0                  Y
1                  Y
2                  Y
3                  Y
4                  Y
..               ...
105                Y
106                Y
107                Y
108                Y
109                Y

[110 rows x 10 columns]

In [6]:
attendance_columns = ['Attendance Day 1', 'Attendance Day 2', 'Attendance Day 3', 'Attendance Day 4','Attendance Day 5']
for column in attendance_columns:
  mergedf[column]=mergedf[column].replace({'Y':1,'N':0})
print(mergedf.head())

           Name Mini Test 1 Mini Test 2 Live Test  Assignment  \
0         Arjun           9           5        14        16.0
1  Sophia Hardy           8           9       113        19.0
2           RAj          10          10        15        20.0
3         Emily           9           7        11        16.0
4  Ishaan Saini           8           7        14        11.0

   Attendance Day 1  Attendance Day 2  Attendance Day 3  Attendance Day 4  \
0                 1                 0                 0                 0
1                 1                 0                 0                 1
2                 1                 1                 1                 1
3                 1                 1                 0                 1
4                 0                 0                 0                 0

   Attendance Day 5
0                 1
1                 1
2                 1
3                 1
4                 1

<ipython-input-6-0b1fa4a55970>:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  mergedf[column]=mergedf[column].replace({'Y':1,'N':0})

In [7]:
mergedf['Name'] = mergedf['Name'].str.title()
print(mergedf.head())

           Name Mini Test 1 Mini Test 2 Live Test  Assignment  \
0         Arjun           9           5        14        16.0
1  Sophia Hardy           8           9       113        19.0
2           Raj          10          10        15        20.0
3         Emily           9           7        11        16.0
4  Ishaan Saini           8           7        14        11.0

   Attendance Day 1  Attendance Day 2  Attendance Day 3  Attendance Day 4  \
0                 1                 0                 0                 0
1                 1                 0                 0                 1
2                 1                 1                 1                 1
3                 1                 1                 0                 1
4                 0                 0                 0                 0

   Attendance Day 5
0                 1
1                 1
2                 1
3                 1
4                 1

In [10]:
print(mergedf.isnull().sum())
mergedf=mergedf.fillna(0)
print(mergedf.isnull().sum())
mergedf.head()

Name                0
Mini Test 1         0
Mini Test 2         0
Live Test           0
Assignment          0
Attendance Day 1    0
Attendance Day 2    0
Attendance Day 3    0
Attendance Day 4    0
Attendance Day 5    0
dtype: int64
Name                0
Mini Test 1         0
Mini Test 2         0
Live Test           0
Assignment          0
Attendance Day 1    0
Attendance Day 2    0
Attendance Day 3    0
Attendance Day 4    0
Attendance Day 5    0
dtype: int64

,Name,Mini Test 1,Mini Test 2,Live Test,Assignment,Attendance Day 1,Attendance Day 2,Attendance Day 3,Attendance Day 4,Attendance Day 5
0,Arjun,9,5,14,16.0,1,0,0,0,1
1,Sophia Hardy,8,9,113,19.0,1,0,0,1,1
2,Raj,10,10,15,20.0,1,1,1,1,1
3,Emily,9,7,11,16.0,1,1,0,1,1
4,Ishaan Saini,8,7,14,11.0,0,0,0,0,1

In [13]:
mergedf[['Mini Test 1', 'Mini Test 2', 'Live Test', 'Assignment']] = mergedf[['Mini Test 1', 'Mini Test 2', 'Live Test', 'Assignment']].apply(pd.to_numeric, errors='coerce')
mergedf['Total Marks'] = mergedf[['Mini Test 1', 'Mini Test 2', 'Live Test', 'Assignment']].sum(axis=1)
mergedf.head()

,Name,Mini Test 1,Mini Test 2,Live Test,Assignment,Attendance Day 1,Attendance Day 2,Attendance Day 3,Attendance Day 4,Attendance Day 5,Total Marks
0,Arjun,9.0,5.0,14.0,16.0,1,0,0,0,1,44.0
1,Sophia Hardy,8.0,9.0,113.0,19.0,1,0,0,1,1,149.0
2,Raj,10.0,10.0,15.0,20.0,1,1,1,1,1,55.0
3,Emily,9.0,7.0,11.0,16.0,1,1,0,1,1,43.0
4,Ishaan Saini,8.0,7.0,14.0,11.0,0,0,0,0,1,40.0

In [15]:
mergedf['Percentage Marks'] = (mergedf['Total Marks'] / 60) * 20  # Assuming max marks per test = 20, total max = 60
mergedf.head()

,Name,Mini Test 1,Mini Test 2,Live Test,Assignment,Attendance Day 1,Attendance Day 2,Attendance Day 3,Attendance Day 4,Attendance Day 5,Total Marks,Percentage Marks
0,Arjun,9.0,5.0,14.0,16.0,1,0,0,0,1,44.0,14.666667
1,Sophia Hardy,8.0,9.0,113.0,19.0,1,0,0,1,1,149.0,49.666667
2,Raj,10.0,10.0,15.0,20.0,1,1,1,1,1,55.0,18.333333
3,Emily,9.0,7.0,11.0,16.0,1,1,0,1,1,43.0,14.333333
4,Ishaan Saini,8.0,7.0,14.0,11.0,0,0,0,0,1,40.0,13.333333

In [20]:
def calculate_attendance_percentage(row):
    # Count the number of 'Y' values (attended classes) in the attendance columns
    attended_classes = row[['Attendance Day 1', 'Attendance Day 2', 'Attendance Day 3', 'Attendance Day 4', 'Attendance Day 5']].apply(lambda x: 1 if x == 'Y' else 0).sum()
    total_classes = len(row[['Attendance Day 1', 'Attendance Day 2', 'Attendance Day 3', 'Attendance Day 4', 'Attendance Day 5']])  # Total attendance columns
    return (attended_classes / total_classes) * 100

# Apply the function to each row (axis=1 means apply row-wise)
mergedf['Attendance Percentage'] = mergedf.apply(calculate_attendance_percentage, axis=1)
mergedf.head()

,Name,Mini Test 1,Mini Test 2,Live Test,Assignment,Attendance Day 1,Attendance Day 2,Attendance Day 3,Attendance Day 4,Attendance Day 5,Total Marks,Percentage Marks,Weighted Percentage,Attendance Percentage
0,Arjun,9.0,5.0,14.0,16.0,1,0,0,0,1,44.0,14.666667,7.8,0.0
1,Sophia Hardy,8.0,9.0,113.0,19.0,1,0,0,1,1,149.0,49.666667,28.5,0.0
2,Raj,10.0,10.0,15.0,20.0,1,1,1,1,1,55.0,18.333333,9.4,0.0
3,Emily,9.0,7.0,11.0,16.0,1,1,0,1,1,43.0,14.333333,7.4,0.0
4,Ishaan Saini,8.0,7.0,14.0,11.0,0,0,0,0,1,40.0,13.333333,6.5,0.0

In [22]:
mergedf['Attendance Percentage'] = (
    mergedf['Attendance Day 1'] * 0.40 +
    mergedf['Mini Test 1'] * 0.10 +
    mergedf['Mini Test 2'] * 0.10 +
    mergedf['Live Test'] * 0.20 +
    mergedf['Assignment'] * 0.20
)
mergedf.head()

,Name,Mini Test 1,Mini Test 2,Live Test,Assignment,Attendance Day 1,Attendance Day 2,Attendance Day 3,Attendance Day 4,Attendance Day 5,Total Marks,Percentage Marks,Weighted Percentage,Attendance Percentage
0,Arjun,9.0,5.0,14.0,16.0,1,0,0,0,1,44.0,14.666667,7.8,7.8
1,Sophia Hardy,8.0,9.0,113.0,19.0,1,0,0,1,1,149.0,49.666667,28.5,28.5
2,Raj,10.0,10.0,15.0,20.0,1,1,1,1,1,55.0,18.333333,9.4,9.4
3,Emily,9.0,7.0,11.0,16.0,1,1,0,1,1,43.0,14.333333,7.4,7.4
4,Ishaan Saini,8.0,7.0,14.0,11.0,0,0,0,0,1,40.0,13.333333,6.5,6.5